@CHARSET "ISO-8859-1";
/** CSS for projects section ***/

.projects .widthHead1{
	width:152px;
}

.projects .widthHead2{
	width:185px;
}

.projects .widthHead3{
	width:228px;
}

.projects .widthHead4{
	width:125px;
}

.projects .widthHead5{
	width:127px;
}

.projects .widthHead6{
	width:118px;
}

.projects .widthHead7{
	width:44px;
}
.projects .widthHead8{
	width:18px;
}

.projects .width1{
	width:144px;
}
.projects .width2{
	width:184px;
}
.projects .width3{
	width:206px;
	margin-right:16px;
}
.projects .width4{
	width:122px;
}
.projects .width5{
	width:123px;
}
.projects .width6{
	width:112px;
}
.projects .width7{
	width:36px;
}
.projects .width8{
	width:16px;
}