@CHARSET "ISO-8859-1";
#columns p {
    margin: 10px 0;
}
.table{
	margin-top:0;
}
.widthLArgeHead {
    width: 150px;
}
.widthMediumHead {
    width: 120px;
}
.widthSmallHead {
    width: 50px;
}
.rowHead {
	 min-height: 20px;
	 text-align: center;

}
.colsHead {
	font-size:13px;
    font-weight: bold;
    text-align: left;

}
.dashboardFilterBox{
	float:right;	
}
.dashboard-selectbox{
	margin-right: 6px;
    margin-top: 4px;
    padding: 1px;
    width: 170px;
}

.bottom-border{
	 border-bottom: medium none;
}